<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="azure-artifacts" value="https://pkgs.dev.azure.com/dfe-gov-uk/s268-schoolaccount/_packaging/TestAutomation/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="azure-artifacts">
      <package pattern="PlaywrightTests.DfE.*" />
      <package pattern="PlaywrightTests.GlobalConstants" />
      <package pattern="PlaywrightTests.Kernel" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
